%li.comment
  = link_to comment.user.username, profile_path(comment.user.username), class: 'username'
  %span.content
    = comment.content
  - if comment.user == current_user
    = link_to post_comment_path(post, comment), method: :delete, data: { confirm: 'Are you sure?', id: comment.id }, class: 'delete-comment', remote: true do
      = icon_tag 'remove'
