.comment-form
  = simple_form_for([post, post.comments.build], remote: true) do |f|
    = f.text_field :content, placeholder: 'Add a comment...', class: 'comment-content', data: { 'comment-form-post-id': post.id, count: post.comments.count }
