$component-colors: (
  green:  (base:#4cb992, font: #ffffff),
  blue:   (base:#3499e0, font: #ffffff),
  orange: (base:#efb57c, font: #ffffff),
  red:    (base:#eb4d5c, font: #ffffff),
  purple: (base:#8a74b9, font: #ffffff)
);
