.action.pull-left{ data: { 'like-post-id': post.id } }
  - if current_user.liked? post
    = link_to unlike_post_path(post), remote: true do
      = is_liked? post
  - else
    = link_to like_post_path(post), remote: true do
      = is_liked? post
