-@posts.each do |post|
  .card
    .card-header
      = link_to image_tag(post.image.thumb('30x30#').url, class:'img-responsive'), post_path(post), class: 'author-avatar'
      .meta
        %span.author
          =link_to 'Lubosky', '#'
        %span.published.text-muted
          = time_ago_in_words(post.created_at)
          ago
    .card-image
      =link_to image_tag(post.image.thumb('650x').url, class:'img-responsive'), post_path(post) if post.image_stored?
    .card-container
      .card-caption
        =post.caption
      .card-actions
