.profile
  +border-radius(5px)
  +box-shadow(0 2px 2px $default-box-shadow)
  background-color: white
  max-width: 650px
  margin: 15px auto 25px
  padding: 20px
  .profile-head
    margin-bottom: 15px
    +xs-sm
      padding-top: 25px
      text-align: center
    .profile-username
      display: inline-block
    .btn
      line-height: 30px
      padding: 0 10px
      margin: 0 0 5px 20px
      min-width: 120px
  .profile-name,
  .profile-bio
    display: inline
    font-size: ($font-size-base + 1)
    margin-top: 20px
  .profile-name
    font-weight: $bold
  ul.profile-stats
    font-size: $font-size-large
    display: flex
    list-style: none
    margin-top: 15px
    padding: 0
    > li
      margin-right: 40px

  &.edit
    .profile-avatar
      margin: 0 auto 15px
      width: 120px
      img
        width: 120px
        height: 120px
        max-width: 100%
        max-height: 100%
        object-fit: cover
    input
      &[type='file']
        margin: 0 auto 25px
